.cart-order-summery-product {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: start;
    gap: 36px;
}

.cart-order-summery-product-image {
    width: 65px;
    height: 85px;
}

.cart-order-summery-product-detail {
    display: flex;
    flex-flow: column nowrap;
    justify-self: start;
    align-items: start;
    gap: 4px;
}

.cart-order-summery-product-detail-book-name {
    text-align: left;
    font: 17px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.cart-order-summery-product-detail-author-name {
    text-align: left;
    font: 12px Lato;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}

.cart-order-summery-product-detail-price {
    display: flex;
    flex-flow: row nowrap;
    justify-self: start;
    align-items: center;
    gap: 1px;
}

.cart-order-summery-product-detail-price-right {
    text-align: left;
    font: bold 18px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.cart-order-summery-product-detail-price-wrong {
    text-align: left;
    text-decoration: line-through;
    font: 11px Lato;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}