.cart-address-not-selected-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 2px;
}

.cart-address-not-selected-address {
    text-align: left;
    font: 16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.cart-address-not-selected-address-detail {
    width: 80%;
    text-align: left;
    font: 16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}